@import './reset.css';
@import './variables/global.css';
@import './themes/cyberpunk.css';
@import './themes/light.css';
@import './fonts/fonts.css';


.app {
    background-color: rgb(var(--base));
    box-sizing: border-box;
    font: var(--font-m);
    padding-top: 10px;
    text-align: center;
    font-family: 'Ubuntu-Regular';
}

.flex {
    display: flex;
}