.btn {
    display: flex;
    font-size: large;
    border: 1px solid rgb(var(--main_light));
    border-radius: 20px / 50%;
    color: rgb(var(--main_light));
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(var(--base));
    cursor: pointer;
    
}

.btn:hover {
    font-weight: bold;
    background-color: rgb(var(--main_light));
    color: rgb(var(--base));
}

.btn:active {
    background-color: rgb(var(--main_light), 0.7);
}