.engagementManagement {
    height: 10%;
    padding: 1%;
    margin: 0 auto;
    justify-content: space-around;
}

.getFight {
    background-color: rgb(var(--base));
    border: 1px solid rgb(var(--main_light));
    color: rgb(var(--main_light));
    font-weight: lighter;
    align-items: center;
}

.finishFight {
    background-color: rgb(var(--base));
    border: 1px solid rgb(var(--main_light));
    color: rgb(var(--main_light));
    font-weight: lighter;
    align-items: center;
}