.timer {
    box-sizing: border-box;
    background-color: rgb(var(--base), 0.5);
    /* background-color: rgb(255, 255, 255, 0.7); */
    /* border: 1px solid rgb(var(--base)); */
    width: 20%;
    color: rgb(var(--main_hard));
    font-size: 7vw;
    padding: 4%;
    position: absolute;
    bottom: 3%;
    left: 40%;
    align-items: center;
    border-radius: 20% / 50%;
    justify-content: center;
 }