.clues {
    background-color: rgb(var(--base), 0.7);
    color: rgb(var(--main_hard));
    border: 1px solid rgb(var(--main_hard));
    border-radius: 50%;
    position: absolute;
    font-size: 200%;
    height: 4vw;
    width: 4vw;
    bottom: 2vh;
    right: 2vh;
    align-items: center;
    justify-content: center;
}