.firstScorePart {
    width: 50%;
    height: 100%;
    background-color: rgb(var(--main_light));
    border-top-left-radius: 40px;
}

.score {
    color: rgb(var(--base));
    font-size: 2000%;
    margin: 30vh auto;
}