.secondScorePart {
    width: 50%;
    height: 100%;
    background-color: rgb(var(--secondary));
    border-top-right-radius: 40px;
}

.score {
    color: rgb(var(--base));
    font-size: 2000%;
    margin: 30vh auto;
}