@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('./Ubuntu-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('./Ubuntu-Medium.ttf');
    font-style: normal;
    font-weight: normal;
}