.main.cyberpunk {
    --base: 0, 0, 0;
    --demo: rgb(0, 0, 0);

    --main_light: 115, 245, 253;
    --demo: rgb(115, 245, 253);

    --secondary: 255, 97, 89;
    --demo: rgb(255, 97, 89);

    --support: 222, 255, 93;
    --demo: rgb(222, 255, 93);

    --main_medium: 29,236, 131;
    --demo: rgb(29,236, 131);

    --main_hard: 27, 44, 76;
    --demo: rgb(27, 44, 76);
}