.main.cyberpunk {
    --base: 33, 27, 27;
    --demo: rgb(33, 27, 27);

    --main_light: 26, 214, 119;
    --demo: rgb(26, 214, 119);

    /* --main_medium: 29,236, 131;
    --demo: rgb(29,236, 131); */

    --main_hard: 16, 13, 13;
    --demo: rgb(16, 13, 13);

    --secondary: 187, 243, 89;
    --demo: rgb(187, 243, 89);

    --support: 154, 112, 255;
    --demo: rgb(154, 112, 255);
}