.main.light {
    --base: 255, 255, 255;
    --demo: rgb(255, 255, 255);

    --main_light: 27, 124, 197;
    --demo: rgb(27, 124, 197);

    /* --main_medium: 2, 66, 110;
    --demo: rgb(2, 66, 110); */

    --main_hard: 27, 44, 76;
    --demo: rgb(27, 44, 76);

    --secondary: 229, 52, 36;
    --demo: rgb(229, 52, 36);

    --support: 236, 105, 31;
    --demo: rgb(236, 105, 31);
}