.ratingDynamics {
    width: 15%;
    display: inline-block;
    text-align: center;
    padding: 5px;
    background-color: transparent;
}

.negativeDynamics {
    color: rgb(255, 97, 89);
    /* color: rgb(232, 82, 34) */
}

.positiveDynamics {
    color: rgb(29,236, 131);
}